<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Hero -->
<section class="navTab">
    <h1>WELCOME TO FPTGEAR STORE</h1>
    <h3>BUILD THE PC IN YOUR DREAM</h3>
    <div class="navcontainer">
        <a class="Tag" href="CONTACT">LAPTOP</a>
        <a class="Tag" href="PRODUCTS">PC</a>
        <a class="Tag" href="CONTACT">ACCESSORIES</a>
        <a class="Tag" href="CONTACT">ACCOUNT</a>
        <a class="Tag" href="CONTACT"><i class="fas fa-shopping-cart"></i>SHOPPING CART</a>
        <a class="Tag" href="CONTACT"><i class="fas fa-search"></i> SEARCH</a>
        <span class="navSlide"></span>
    </div>
</section>

</body>
</html>